html {
  font-family: "Comic Sans MS"
}

body {
  color: rgba(218, 22, 152, 0.849);
}
body  {
  background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn%3AANd9GcStKWm2Qf2W1Hqvqxo6ycuCBj5Mrbi_ylI-vA&usqp=CAU");
  
}
h1{
  color :rgb(151, 10, 88)
}
h2 {
  color:blue
}
h3 {
  color:chocolate;
 font-size: 24px
}
h4 {
  color :rgb(6, 78, 78);
 font-size: 20px;
}
h5 {
  color :rgb(16, 63, 4);
 font-size: 16px;
}